/*user place order*/



.displayArea h2
{
	font-size: 2.1em;
	padding: 0.3em 0;
	color: #494c4e;
	font-weight: 500;
	font-family: Lato,Lucida Sans Unicode,Lucida Grande,sans-serif;
	text-align: center;
}

.placeOrder
{
	display: block;
}

.placeOrder .errorMessageBox
{
	margin-top: 1em;
	background-color: #eeffa1;
	padding: 1em;
	padding-left: 2em;
	display: none;
}

.placeOrder .errorMessageBox ul li
{
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	list-style: none;
	padding: 0.2em 0;
}


.displayArea .placeOrderForm
{
	box-sizing: border-box;
	width: 100%;
}

.displayArea .placeOrderForm > div
{
	display: flex;
	flex-direction: column;
	width: 70%;
	font-size: 1.7em;
	padding: 1em 0;
	margin: 0 auto;
}

.displayArea .placeOrderForm > div > input, 
.displayArea .placeOrderForm > div > textarea
{
	font-size: 1em
}

.displayArea .placeOrderForm .orderDiscription
{
	height: 10em;
	flex-direction: column;
	justify-content: flex-start;
}

.displayArea .placeOrderForm  label
{
	padding-bottom: 0.5em;
}

.displayArea .placeOrderForm .orderDiscription textarea
{
	height: 10em;
	width: 100%;
	font-size: 0.8em;
	padding: 0.5em;
}

.displayArea .placeOrderForm .buttonControl
{
	justify-content: center;
	align-items: center;
	padding-top: 0;
}

.buttonControl button
{
	font-size: 0.9em;
	padding: 0.5em 1em;
	margin: 1em;
	color: #101010;
	background-color: #f2f2f2;
	border: 0px solid #fff;
	width: 90%;
	cursor: pointer;
}


@media(min-width: 1000px)
{	
	.displayArea
	{
		padding: 0 10%;
	}

	.placeOrder .errorMessageBox
	{
		width: 40%;
		margin: 0 auto;
	}

	.placeOrder .errorMessageBox ul li
	{
		text-align: left;
	}

	.displayArea .placeOrderForm
	{
		padding: 1em 5%;
	}
	
	.displayArea .placeOrderForm > div
	{
		flex-direction: row;
		justify-content: space-between;
	}
	
	.displayArea .placeOrderForm  label
	{
		padding-bottom: 0em;
	}

	.displayArea .placeOrderForm .orderDiscription
	{
		height: 10em;
		flex-direction: column;
	}

	.displayArea .placeOrderForm .orderDiscription label
	{
		padding-bottom: 1em;
	}

	.displayArea .placeOrderForm > div > input, 
	.displayArea .placeOrderForm > div > textarea
	{
		font-size: 0.5em;
		padding: 0.3em;
		width: 60%;
	}

	.displayArea .placeOrderForm > div > input
	{
		font-size: 0.7em;
	}

	 .displayArea .placeOrderForm .buttonControl
	{
		justify-content: center;
		align-items: center;
	}
	
	.buttonControl button
	{
		width: 8em;
	}
}



/*end user place order*/


/*order history and current order*/


.orderHistory, .currentOrder
{
	padding: 1em;
	display: block;
}


.displayArea .anOrder
{
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid #aaa;
	margin: 3em 0;
}

.anOrder .from,
.anOrder .to
{
	display: flex;
	flex-direction: column;
}

.anOrder button
{
	font-size: 1.5em;
	width: 5em;
	padding: 0.2em 0;
	color: #101010;
	background-color: #f0f0f0;
	border: 0px solid #fff;
}

.displayArea .anOrder > div
{
	font-size: 1.5em;
	padding: 0.5em;
	border-bottom: 1px solid #e0e0e0;
}

.displayArea .anOrder .orderDiscription
{
	display: flex;
	flex-direction: column;
	/*border-bottom: none;*/
	margin-bottom: 1em;
}

.displayArea .anOrder .labelContent
{
	margin-left: 0.1em;
}

.displayArea .anOrder .orderLabel
{
	display: inline-block;
	width: 5.5em;
}

.displayArea .anOrder .orderDiscription .labelContent
{
	padding-top: 0.5em;
	margin-left: 0em;
}

.filpPage ul
{
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.filpPage li
{
	list-style: none;
	box-sizing: border-box;
	border: 1px solid #000;
	margin: 0 0.5em;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	cursor: pointer;
}

.orderHistory
{
	display: none;
}

.currentOrder
{
	display: none;
}

@media(min-width: 1000px)
{
	.orderHistory, .currentOrder
	{
		padding: 1em;
	}

	.displayArea .anOrder .orderDiscription .labelContent
	{
		padding-left: 2em;
	}

	.displayArea .anOrder .orderLabel
	{
		width: 8em;
	}

	.anOrder .from, .anOrder .to
	{
		flex-direction: row;
	}
}


/*end order history and current order*/



/*this is personal setting*/
/*this code I direct copy from css/loginAndSignin.css*/


.personalSetting form
{
	box-sizing: border-box;
	width: 100%;
	padding: 1em 0;
	font-size: 1.5em;
	padding: 0 10%;
	padding-bottom: 3em;
}

.personalSetting form > div
{
	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em 0;
	
}


.personalSetting form > div > input
{
	font-size: 0.7em;
	margin: 0.5em 0;
	padding: 0.5em;
}

.personalSetting form > button
{
	display: block;
	font-size: 1em;
	padding: 0.2em 2em;
	background-color: #101010;
	color: #fff;
	cursor: pointer;
}


.errorMessage
{
	color: #EE0000;
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: rgba(232, 240, 254, 0) !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}

input:-webkit-autofill{
    box-shadow: 0 0 0 23px #fff inset !important;
    border: 1px solid #000 !important;
}
/*---------------------------------------------------------------------*/

@media (min-width: 1000px)
{
	.personalSetting form
	{
		padding: 0 20%;
		padding-bottom: 3em;
	}

}


.personalSetting
{
	display: none;
}

/*end of personal setting*/



/*banking */
/*this code is copy above you not writing together because people want to change it */

.banking form
{
	box-sizing: border-box;
	width: 100%;
	padding: 1em 0;
	font-size: 1.5em;
	padding: 0 10%;
	padding-bottom: 3em;
}

.banking form > div
{
	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em 0;
	
}


.banking form > div > input
{
	font-size: 0.7em;
	margin: 0.5em 0;
	padding: 0.5em;
}

.banking form > button
{
	display: block;
	font-size: 1em;
	padding: 0.2em 2em;
	background-color: #101010;
	color: #fff;
	cursor: pointer;
}

.banking
{
	display: none;
}

.banking .currentPoint
{
	font-size: 1.5em;
	padding: 0.5em;
	text-align: center;
}


@media (min-width: 1000px)
{
	.banking form
	{
		padding: 0 20%;
		padding-bottom: 3em;
	}
	
	.banking .currentPoint
	{
		text-align: left;
	}
}

/*end of banking*/





